* {
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.wrapper {
  margin-bottom: 30px;
  border: 2px solid rgb(231, 26, 26);
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.caption {
  font-family: arial;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 700;
}

.graph-wrapper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

.info {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: arial;
  color: tomato;
}

/* RESET PLOTLY STYLES */

.js-plotly-plot .plotly .modebar {
  background-color: transparent !important;
  height: 15px;
}
